<h1>Créditos</h1>
<p align='justify'>Todo el desarrollo del proyecto Quiz para la práctica principal del curso MOOC
 denominado "Desarrollo de servicios en la nube con HTML5, Javascript y node.js" 
 ha sido creado por:
</p>
<br>
<h4>Francisco Eduardo Pérez Adrián</h4>
<br>
<img src='/images/yo.jpg' alt="Francisco Pérez running" height="200">
<br>
<br>
<p align='justify'>Por supuesto, esto no sería posible sin los contenidos teóricos, las
indicaciones y los ejemplos aportados por el equipo de profesores. Así como la ayuda brindada
 por los compañeros en los foros. 
</p>
<p align='justify'> Por todo esto, muestro desde aquí mi más sincero agradecimiento a todos
 los que han hecho que esto sea posible.
</p> 