*						{margin: 0; padding: 0;}
body 					{font: 16px Georgia; serif;}

#page-wrap				{margin: 2% auto; color: white;}
#page-wrap > .main 		{border: 1px solid #999; padding: 1%;
						margin-bottom: 1px; color: black;}

#listapreguntas 		{width: 50%; margin: auto;}
#listapreguntas td, #listapreguntas th	{text-align: left;}

section > div 			{padding: : 20px;}
header, nav, section 	{background: #eee; text-align: center;}
footer 					{background: #eee; text-align: center;}
nav span 				{margin: 0px 10px 0px 0px;}

#ErrorMsgs				{color: #f61; font-size: smaller;}

.right 					{float: right;}

#estadisticas			{width: 50%; margin: auto; border: 1px solid #000;}
#estadisticas td 		{text-align: center; border: 1px solid #000;}
#estadisticas th 		{text-align: left; border: 1px solid #000;}
